.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bigText {
  font-weight: 700;
  font-size: 18px;
}

.smallText {
  font-weight: 700;
  font-size: 12px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.smallLoader {
  margin-right: 10px;
  display: block;
  align-items: center;
  animation: pulse 2s ease-in-out infinite; /* бесконечно повторяется */
  transform-origin: center; /* точка масштабирования по центру */
  width: 103px;
  height: 101px;
}

.bigLoader {
  margin-right: 20px;
  animation: pulse 2s ease-in-out infinite; /* бесконечно повторяется */
  transform-origin: center; /* точка масштабирования по центру */
  width: 475px;
  height: 465px;
}
