.charactersWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  gap: 30px;
  padding: 20px 0 20px 0;
  height: 100%;
}

.loader {
  width: 100%;
}
