.character-profile {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 360px 1fr;
  padding-bottom: 40px;
}

.character-profile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.character-profile__btn {
  padding-top: 20px;
  display: flex;
  justify-content: left;
}

.character-profile__content-image > img {
  border-radius: 150px;
  border: 5px solid #f2f2f7;
}

.character-profile__content-info {
  width: 100%;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
}

.character-profile__content-info > h1 {
  padding-left: 25px;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
}

.character-profile__content-info > span {
  padding-right: 23px;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 500;
  color: #8e8e93;
}

.character-profile__content-table {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 400px;
  margin-top: 45px;
}

.character-profile__content-table > div {
  border-bottom: 2px solid rgb(216, 214, 214);
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  gap: 2px;
}
