.characters-wrapper {
  width: 1050px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 22px 0;
  gap: 28px;
  box-sizing: border-box;
  height: 100%;
}

.characters-wrapper:has(> :nth-child(2n)) {
  justify-content: space-between;
}

.characters-wrapper:has(> :nth-child(1):last-child) {
  justify-content: center;
}
