.CharacterCard {
  font-family: "Roboto", sans-serif;
  color: black;
  height: 248px;
  width: 508px;
  display: flex;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
.buttonGroup {
  display: flex;
  gap: 5px;
  cursor: pointer;
  position: absolute;
  right: 5%;
  button {
    background: none;
    border: none;
    img {
      width: 24px;
      height: 15px;
    }
  }
}
.description {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-left: 13px;
}
.name {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.gender,
.species,
.location,
.status {
  p {
    font-size: 17px;
    font-weight: 500;
  }
  span {
    font-size: 14px;
    font-weight: 400;

    color: rgba(0, 0, 0, 0.6);
  }
}
