.input_form {
  > input {
    max-width: 176px;
    border: none;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding-bottom: 1px;
  }

  .small {
    height: 21px;
    width: 115px;
    padding-left: 2px;
    color: #00000099;
    font-size: 14px;
    font-weight: 400;
  }

  .big {
    height: 23px;
    color: #000000de;
    font-size: 20px;
    font-weight: 500;
  }
}

.input_filter {
  position: relative;
  padding: 15px 5px 15px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #00000080;
  border-radius: 8px;
  height: 28px;

  input {
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
    width: 185px;
    padding-left: 9px;
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  svg {
    width: 24px;
    height: 24px;
  }

  ::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #00000080;
  }
}

.readonly {
  > input {
    border-bottom: none;
    pointer-events: none;
  }
  .small {
    border-bottom: 1px solid white;
  }
}
