.button-group {
  display: flex;
  gap: 15px;
  cursor: pointer;

  button {
    background: none;
    border: none;
  }
}

.button-group__close {
  cursor: pointer;
  width: 9px;
  height: 9px;
}

.button-group__check {
  cursor: pointer;
  width: 12px;
  height: 9px;
}

.button-group__pensil {
  cursor: pointer;
  width: 13px;
  height: 13px;
}
